<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Phd</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>tab1</servlet-name>
  	<servlet-class>com.iiitd.tab1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>tab2</servlet-name>
  	<servlet-class>com.iiitd.tab2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>tab3</servlet-name>
  	<servlet-class>com.iiitd.tab3</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>tab4</servlet-name>
  	<servlet-class>com.iiitd.tab4</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>tab5</servlet-name>
  	<servlet-class>com.iiitd.tab5</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>upload</servlet-name>
  	<servlet-class>com.iiitd.upload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>filter</servlet-name>
  	<servlet-class>com.iiitd.filter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>show</servlet-name>
  	<servlet-class>com.iiitd.show</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>admin</servlet-name>
  	<jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>cred</servlet-name>
  	<servlet-class>com.iiitd.cred</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>tab1</servlet-name>
  	<url-pattern>/tab1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>tab2</servlet-name>
  	<url-pattern>/tab2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>tab3</servlet-name>
  	<url-pattern>/tab3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>tab4</servlet-name>
  	<url-pattern>/tab4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>tab5</servlet-name>
  	<url-pattern>/tab5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>upload</servlet-name>
  	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>admin</servlet-name>
  	<url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>filter</servlet-name>
  	<url-pattern>/filter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>show</servlet-name>
  	<url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cred</servlet-name>
  	<url-pattern>/cred</url-pattern>
  </servlet-mapping>
</web-app>